*.snap
build
CODE_OF_CONDUCT
CONTRIBUTING
COPYING
dist
Dockerfile
.dockerignore
.flake8
.git
.gitignore
LICENSE
Pipfile
Pipfile.lock
.pylintrc
README.md
requirements-devel.txt
setup.cfg
setup.py
snapcraft.yaml
.style.yapf
.venv
yamja_renderer.egg-info
